<!-- comments like this -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <link rel="icon" href="data:;base64,=">
    <script type="text/javascript" src="{{url_for('static', filename='site.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <title>The No-Shoelace Place</title>
</head>
<body>
    
    <div id="image_header">
        <img id="background_image" src="{{ url_for('static', filename='img/line-header.png')}}" alt="">
        <img id="foreground_image" src="{{ url_for('static', filename='img/filled-header.png')}}" alt="">
        <div id="cursor_space" onmouseenter="fade_to_fill_header()" onmouseleave="switch_to_outline_header()"></div>
    </div>
    <div id="game-map">
        <button id="map-close-button" onclick="toggleGameMap()">X</button>
        <div id="game-exit-room" class="map-room">
            <p id="exit-text"> EXIT </p>
        </div>
        <div id="admissions-room" class="map-room">
            <p> admissions</p>
        </div>
        <div id="service-hallway-room" class="map-room">
            <p class="vertical-text"> service hallway </p>
        </div>
        <div id="security-room" class="map-room">
            <p> security </p>
        </div>
        <div id="outside-time-room" class="map-room">
            <p> courtyard </p>
        </div>
        <div id="utility-closet-room" class="map-room">
            <p> utility </p>
        </div>
        <div id="common-room" class="map-room">
            <p> common room</p>
        </div>
        <div id="tv-room" class="map-room">
            <p> tv </p>
        </div>
        <div id="staff-breakroom" class="map-room">
            <p> staff break</p>
        </div>
        <div id="med-station-room" class="map-room">
            <p> meds </p>
        </div>
        <div id="common-room-bathroom" class="map-room">
            <p>BR</p>
        </div>
        <div id="library-room" class="map-room">
            <p> library </p>
        </div>
        <div id="ward-stairs-room" class="map-room">
            <p> ward landing </p>
        </div>
        <div id="blue-hallway-room" class="map-room">
            <p class="vertical-text"> blue hallway </p>
        </div>
        <div id="kitchen-room" class="map-room">
            <p> kitchen </p>
        </div>
        <div id="sensory-room" class="map-room">
            <p> sensory </p>
        </div>
        <div id="linen-closet-room" class="map-room">
            <p> linen </p>
        </div>
        <div id="red-hallway-room" class="map-room">
            <p> red hallway </p>
        </div> 
        <div id="patient-room-102" class="map-room patient-room">
            <p> P102 </p>
        </div>
        <div id="patient-room-104" class="map-room patient-room">
            <p> P104 </p>
        </div>
        <div id="patient-room-101" class="map-room patient-room">
            <p> P101 </p>
        </div>
        <div id="patient-room-103" class="map-room patient-room">
            <p> P103 </p>
        </div>
        <div id="patient-bathroom" class="map-room">
            <p> BR</p>
        </div>

        <!-- locked doors -->
        <div class="doorway map-door-container" id="door-m7">
            <img class="door-locked" src="{{ url_for('static', filename='img/locked.png')}}" alt="">
            <img class="door-unlocked" src="{{ url_for('static', filename='img/unlocked.png')}}" alt="">
            <p class="map-door-label"> M7: locked </p>
        </div>
        <div class="doorway map-door-container" id="door-s3">
            <img class="door-locked" src="{{ url_for('static', filename='img/locked.png')}}" alt="">
            <img class="door-unlocked" src="{{ url_for('static', filename='img/unlocked.png')}}" alt="">
            <p class="map-door-label"> S3: locked </p>
        </div>
        <div class="doorway map-door-container" id="door-s9">
            <img class="door-locked" src="{{ url_for('static', filename='img/locked.png')}}" alt="">
            <img class="door-unlocked" src="{{ url_for('static', filename='img/unlocked.png')}}" alt="">
            <p class="map-door-label"> S9: locked </p>
        </div>
        <div class="doorway map-door-container" id="door-s4">
            <img class="door-locked" src="{{ url_for('static', filename='img/locked.png')}}" alt="">
            <img class="door-unlocked" src="{{ url_for('static', filename='img/unlocked.png')}}" alt="">
            <p class="map-door-label"> S4: locked </p>
        </div>
        <div class="doorway map-door-container" id="door-w4">
            <img class="door-locked" src="{{ url_for('static', filename='img/locked.png')}}" alt="">
            <img class="door-unlocked" src="{{ url_for('static', filename='img/unlocked.png')}}" alt="">
            <p class="map-door-label"> W4: locked </p>
        </div>
        <div class="doorway map-door-container" id="door-w6">
            <img class="door-locked" src="{{ url_for('static', filename='img/locked.png')}}" alt="">
            <img class="door-unlocked" src="{{ url_for('static', filename='img/unlocked.png')}}" alt="">
            <p class="map-door-label"> W6: locked </p>
        </div>
        <div class="doorway map-door-container" id="door-s6">
            <img class="door-locked" src="{{ url_for('static', filename='img/locked.png')}}" alt="">
            <img class="door-unlocked" src="{{ url_for('static', filename='img/unlocked.png')}}" alt="">
            <p class="map-door-label"> S6: locked </p>
        </div>
        
        
        <!-- no lock doorways -->
        <div class="doorway" id="p101-south"></div>
        <div class="doorway" id="p103-south"></div>
        <div class="doorway" id="p102-north"></div>
        <div class="doorway" id="p104-north"></div>
        <div class="doorway" id="pBR-north"></div>
        <div class="doorway-ew" id="red-blue-hallway"></div>
        <div class="doorway-ew" id="linen-west"></div>
        <div class="doorway-ew" id="sensory-west"></div>
        <div class="doorway-ew" id="kitchen-west"></div>
        <div class="doorway-ew" id="cr-blue-hallway"></div>
        <div class="doorway" id="tv-south"></div>
        <div class="doorway-ew" id="staff-meds"></div>
        <div class="doorway" id="crBR-north"></div>
        <div class="doorway" id="library-north"></div>
        <div class="doorway-ew" id="utility-east"></div>
        <div class="doorway-ew" id="admissions-east"></div>
    </div>
    <div id="game_gui">
        <div id="text_and_entry_widgets">
            <div id="game_text_display">
                <!-- The game text paragraphs will be placed here -->
                
            </div>
            <div id="entry_widgets">
                <div id="text_entry_div">
                    <form id="command_input_form" autocomplete="off">
                        <label id="command_label" for="command_input"> <strong> > </strong> </label>

                        <input id="command_input" 
                            type="text" 
                            name="command_input"
                            placeholder="What should I do?"
                            value="{{ request.form['command_input'] }}">
                        </input>
            
                        <button type="button" id="text_entry_enter_button" class="game_multiple_choice_buttons" onclick="accept_entry_input()"> Enter </button>
                    </form>
                </div>

                <div id="button_entry_div">
                    <!-- Multiple Choice button entry elements will be placed here -->
            
                </div>
            </div>
        </div>
        <div id="right_panel">
            <div id="top_panel" class="panel_rows">
                <div id="player_stats" class="panel_divs">
                    <p class="panel_titles"> Patient Info</p>
                    <div id="ps_left">
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">XP:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Day:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Turns:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Room:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Health:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Status:</p>
                        </div>
                    </div>
                    <div id="ps_right">
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="xp_value">0</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="day_value">0</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="turns_value">15</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="room_value">Unknown</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <div id="health-out-of-100">
                                <p id="health_value">65</p>
                                <p id="out-of-100">/100</p>
                            </div>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="diagnosis_value">Unknown</p>
                        </div>
                    </div>
                </div>
                <div id="inventory" class="panel_divs">
                    <p class="panel_titles"> Inventory</p>
                    <div id="inv_left">
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">1.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">2.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">3.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">4.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">5.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">6.</p>
                        </div>
                    </div>
                    <div id="inv_right">
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_strings" id="inv_slot_1"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_strings" id="inv_slot_2"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_strings" id="inv_slot_3"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_strings" id="inv_slot_4"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_strings" id="inv_slot_5"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_strings" id="inv_slot_6"></p>
                        </div>
                    </div>
                </div>
            </div>  

            <div id="bottom_panel" class="panel_rows">
                <div id="abilities" class="panel_divs">
                    <p class="panel_titles"> Skills </p>
                    <div id="ability_left">
                        <div class="ability_str_lvl_div">
                            <p class="ability_strings" id="meditation_string">Meditation</p>
                        </div>
                        <div class="ability_str_lvl_div">
                            <p class="ability_strings" id="assertiveness_string">Assertiveness</p>
                        </div>
                        <div class="ability_str_lvl_div">
                            <p class="ability_strings" id="pos_attitude_string">Positive Attitude</p>
                        </div>
                        <div class="ability_str_lvl_div">
                            <p class="ability_strings" id="opp_action_string">Opposite Action</p>
                        </div>
                        <div class="ability_str_lvl_div">
                            <p class="ability_strings" id="meditation_string">Catharsis</p>
                        </div>
                    </div>
                    <div id="ability_right">
                        <div class="ability_str_lvl_div">
                            <p class="inv_strings" id="meditation_lvl">0</p>
                        </div>
                        <div class="ability_str_lvl_div">
                            <p class="inv_strings" id="assertiveness_lvl">0</p>
                        </div>
                        <div class="ability_str_lvl_div">
                            <p class="inv_strings" id="pos_attitude_lvl">0</p>
                        </div>
                        <div class="ability_str_lvl_div">
                            <p class="inv_strings" id="opp_action_lvl">0</p>
                        </div>
                        <div class="ability_str_lvl_div">
                            <p class="inv_strings" id="catharsis_lvl">0</p>
                        </div>
                    </div>
                </div>
                <div id="game_buttons" class="panel_divs">
                    <p class="panel_titles"></p> <!-- no title for this section -->
                    <div id="bottom_right">
                        <button class="game_menu_buttons" onclick="toggleGameMap()">
                            Game Map
                        </button>
                        <button class="game_menu_buttons" onclick="location.href='/game/instructions'">
                            Game Help
                        </button>
                    </div> 
                </div>
            </div>  
        </div>

    </div>
    <script>
        // must have these variables declared here at the bottom of the page
        const form = document.getElementById('command_input_form');
        const game_display_div = document.getElementById("game_text_display");

        const text_entry_div = document.getElementById("text_entry_div");
        const text_entry = document.getElementById('command_input');
        const button_entry_div = document.getElementById("button_entry_div");

        const image_header = document.getElementById("image_header");
        const foreground_header_image = document.getElementById("foreground_image");

        document.getElementById("foreground_image").style.opacity - 0;  
        ajax_accept_input(null, '/game/loading-game');
        window.addEventListener('beforeunload', function (e) {
            // Cancel the event
            // e.preventDefault();
            // Chrome requires returnValue to be set
            // e.returnValue = '';
            return false;
        });


    </script>
</body>
</html>
