

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <link rel="icon" href="data:;base64,=">
    <title>Game Instructions</title>
</head>
<body>
    <div id="how_to_play_header">
        <img id="how_to_play_img" src="{{ url_for('static', filename='img/game-tips-header.png')}}" alt="image_header">
    </div>
    <div class="instructions-row">
        <div>
            <p>
                Map Exploration
            </p>
            <p>
                The goal of the game is to leave The No-Shoelace Place. 
                To leave you must explore the ward and other areas to find items and objects 
                that you can use. Some of these items will be readily available for you to use,
                while others may be locked away or hidden. As you explore, you will be rewarded 
                experience points (xp) for finding items and completing objectives, 
                which will be important as you progress through the game.
            </p>
        </div>
        <div>
            <p>
                Game Context
            </p>
            <p>
                Lorem Ipsum...
            </p>
        </div>
        <div>
            <p>
                Interaction with the Environment
            </p>
            <p>
                The environment is made up of interconnected rooms built on a grid, meaning each room has rooms 
                branching off from it in up to four directions. Movement between each room is dependent on the 
                orientation of how the patient enters the room, and therefor the patient can go forward, backward, 
                left and right. All items, including each room itself, can be inspected for more information about each space. 
                Other items, when applicable, can be opened/closed, unlocked/locked, picked up/dropped, and other various actions.
            </p>
        </div>
    </div>
    <div class="instructions-row">
        <div>
            <p>
                Player Stats Panel
            </h6>
            <p>
                The patient stats panel gives real time information about how the patient is progressing through the game. 
                The XP value denotes the current amount of experience that a patient has available to them. The day value 
                shows the number of days the patient has been in The No-Shoelace Place and the turns left value shows the number of 
                turns left in the current day. The room value shows the room the patient is in. The health value shows the current health
                of the patient. Finally, the status value shows the diagnosis that the patient received on arrival.
            </p>
        </div>
        <div>
            <p>
                Player Abilities
            </p>
            <p>
                There are 5 abilities available to the patient over the course of one's stay in The No-Shoelace Place: meditation, 
                assertiveness, positive attitude, opposite action, and catharsis. Each day, coping skills groups are offered for 
                patient participation where if, in attending, a patient has accumulated enough experience, they can learn, and level up 
                these skills to for use throughout their stay at The No-Shoelace Place.
            </p>
        </div>
    </div>
    
    <div>
        <button class="large_bordered_button" 
        type="button" 
        onclick="location.href='/game/'"> Back to Game </button>
    </div>

</body>
</html>