

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <link rel="icon" href="data:;base64,=">
    <title>Welcome</title>
</head>
<body>
    <div id="welcome-logo-container">
        <img src="{{ url_for('static', filename='img/welcome-logo.png')}}" alt="Welcome to The No Shoelace Place">
    </div>
    <div id="welcome-buttons-container">
        <div class="extra-button-border">
            <button class="large-bordered-button" 
                type="button" 
                onclick="location.href='/game/'">
                Play Game
            </button>
        </div>
        <div class="extra-button-border">
            <button class="regular-bordered-button" 
                type="button"
                onclick="location.href='/game/instructions'">
                How to Play
            </button>
        </div>  
        <div class="extra-button-border">
            <button class="regular-bordered-button" 
                type="button"
                onclick="location.href='/credits'">
                Credits
            </button>
        </div>
    </div>
</body>
</html>