
/* 
.x is for class="x"
#x is for id="x"

1em = 16px

white = #FFFFFF 
black = #000000
third color = #696969
active buttons = #C0C0C0
*/

/* The Whole Page */
html {
    background-color: black;
    align-items: center;
}

/* ############ */
/* All Elements */
/* ############ */
* {
    /*background-color: black;*/
    color: white;
    font-family: Georgia, serif;
    font-size: 1em;
}


/* ############### */
/* Title/Home Page */
/* ############### */
#center_welcome {
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#center_welcome #welcome_logo {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.125em;
    width: 50%;
}

#center_welcome #welcome_buttons {
    background-color: none !important;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 55%;
    bottom: 20%;
}

/* ######### */
/*  Buttons  */
/* ######### */
.large_bordered_button {
    background-color: black; 
    border: 0.125em solid white;
    color: white;
    padding: 0.9375em 1.875em;
    border-radius: 0.75em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    margin: 0.9375em auto;
    filter: alpha(opacity=100);
	opacity: 1 !important;
}

.large_bordered_button:hover {
    color: #A9A9A9;
    border: 0.125em solid #A9A9A9; 
}

.regular_bordered_button {
    background-color: black; 
    border: 0.125em solid white;
    color: white;
    padding: 0.9375em 1.875em;
    border-radius: 0.75em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    margin: 0.625em auto;
    filter: alpha(opacity=100);
	opacity: 1 !important;
}

.regular_bordered_button:hover {
    color: #A9A9A9;
    border: 0.125em solid #A9A9A9;
}

/* ######### */
/* Game Page */
/* ######### */

#image_header {
    position: relative;
    margin-top: -3.125em;
    height: 15.625em;
    width: auto;
    background-color: none;
    z-index: 0;
}

#image_header #cursor_space {
    position: absolute;
    margin-top: 6.25em;
    height: 8.75em;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    background-color: none;
    overflow: hidden;
    z-index: 2;
}

#image_header #background_image {
    position: absolute;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    background-color: none;
    overflow: hidden;
    margin-top: -0.625em;
}

#image_header #foreground_image {
    position: absolute;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    background-color: none;
    overflow: hidden;
    margin-top: -0.625em;
    opacity: 0;
    z-index: 2;
}


#game_gui {
    position: relative;
    width: 88%;
    display: flex;
    /* height: 34.375em; */
    height: auto;
    background-color: none !important;
    padding: 0em 6.25em 0em 6.25em;
    z-index: 2;
}

#game_gui > * {
    background-color: none;
    color: white;
    font-family: 'Courier New', monospace !important;
    font-size: 1em;
    /* filter: blur(5px); */
}

/* ####################### */
/* Game Page Button Styles */
/* ####################### */

.game_multiple_choice_buttons {
    background-color: black; 
    font-family: 'Courier New', monospace !important; 
    border: 0.125em solid white;
    color: white;
    padding: 0.3125em 0.625em;
    border-radius: 0.3125em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.3125em 0.625em 0.3125em 0em;
}

.game_multiple_choice_buttons:hover {
    cursor: pointer;
}

.game_menu_buttons {
    background-color: black; 
    border: 0.125em solid white;
    color: white;
    padding: 0.3125em 0.625em;
    float: right;
    border-radius: 0.3125em;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 1.25em;
    margin: 0.3125em 0.625em 0.3125em 0em;
}

/* Text display and Entry widgets */
#text_and_entry_widgets {
    width: 43.75em;
    height: 43.75em;
    border: 0.625em solid, white;
    flex: 5;
    overflow: hidden;
    background-color: none !important;
}

#game_text_display {
    border: 0.1875em solid white;
    width: 100%;
    height: 70%;
    overflow: scroll;
    box-sizing: border-box;
    padding: 0.625em;
    font-size: 1.5em;
    z-index: 3;
    background-color: none !important;
}

.command_input_text {
    font-size: 1em;
    font-family: 'Courier New', monospace !important; 
    background-color: none !important;
}

.quote_text {
    font-size: 1em;
    font-family: 'Courier New', monospace !important; 
    background-color: none !important;
    text-align: center;
}

#entry_widgets {
    height: 10%;
}

#text_entry_div {
    display: block;
    font-size: 1.5em;
    margin: 0.625em;
}

#button_entry_div {
    display: none;
    font-size: 1.5em;
    margin: 0.625em;
    height: auto;
    width: 100%;
    overflow-x: scroll;

}

#command_label {
    padding: 0.3125em;
    font-size: 1em;
    font-family: 'Courier New', monospace !important; 
}

#command_input {
    font-family: 'Courier New', monospace !important; 
    font-size: 1em;
    background-color: black;
    color: white;
}

#command_input:focus {
    outline: none;
}

/* Right Panel - Player Stats, Inventory, Abilities, Menu Buttons */
#right_panel {
    flex: 4;
    margin: 0em 0em 0em 3.125em;
    height: 34.375em;
}

.panel_rows {
    height: 50%;
    display: flex;
    margin-bottom: 1.5em;
}

.panel_divs {
    background-color: none !important;
    color: white;
    font-family: Georgia, serif;
    font-size: 1.25em;
    width: 50%;
    height: 100%;
    justify-content: center;
}

#ps_left {
    background-color: none !important;
    float: left;
    width: 35%;
}

#ps_right {
    background-color: none !important;
    float: right;
    width: 60%;
    text-align: right;
    margin-right: 5%;
}

#inv_left {
    float: left;
    width: min-content;
}

#inv_right {
    float: right;
    width: 90%;
}

#ability_left {
    float: left;
    width: max-content;
}

#ability_right {
    float: right;
    width: min-content;
    margin-right: 1.25em;
}

#game_buttons {
    display: flex;
    flex-direction: column;
    
}

#bottom_right {
    margin-top: auto;
    margin-bottom: 1.5em;
}

.panel_titles {
    background-color: none !important;
    color: white;
    font-family: Georgia, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .75em;
}

.label_buttons {
    background-color: black; 
    color: white;
    border: none;
    padding: 0em 0.625em;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    margin: 0em;
}

.right_panel_text {
    text-align: left;
    background-color: none !important;
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
    width: 100%;
    display: inline-block;
}

.ps_values {
    text-align: right;
    background-color: none !important;
    font-family: 'Courier New', monospace !important;
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
    width: auto;
    display: inline-block;
}

.ps_inv_elem_spacing {
    padding: 0em;
    margin-top: 0em;
    margin-bottom: .5em;
    background-color: none !important;
    height: 1.25em;
    width: 95%;
}

#health_value {

    height: 1.25em;
    font-family: 'Courier New', monospace !important;
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
    width: auto;
    display: inline-block;
}

#out-of-100 {
    height: 1.25em;
    width: 2em;
    margin-left: auto; 
    margin-right: 0;    
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
    display: inline-block;

}

#health-out-of-100 {
    height: min-content;
    width: 5em;
    float: right;
    overflow: none;
}

.inv_strings {
    text-align: left;
    font-family: 'Courier New', monospace !important;
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
    width: 100%;
    display: inline-block;
}

.ability_strings {
    text-align: left;
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
    width: 100%;
    display: inline-block;
}

.ability_str_lvl_div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0em;
    margin-bottom: .5em;
}

/* ############# */
/* Game Page Map */
/* ############# */
#game-map {
    position: absolute;
    left: 25vw;
    top: 20vh;
    height: 70vh; /* 80wh */
    width: 50vw; /* 80vw */
    background-color: black;
    border-radius: 15px;
    border: 5px solid white;
    display: block;
    z-index: 3;
}

#map-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: black;
    height: 40px;
    width: 40px;
    border: 2px solid white;
}

#map-close-button:hover {
    background-color: #C0C0C0;
    /* background-color: #FFD700; GOLD */
     
}

/* Game Map Classes*/
.map-room {
    position: absolute;
    display: flex;
    background-color: black;
    border: 1px solid white
}

.undiscovered-map {
    filter: blur(3px);
}

.patient-room {
    height: 50px;
    width: 75px;
}

.vertical-text {
    writing-mode: vertical-lr !important; 
    text-orientation: upright !important;
    margin: 100% auto !important;
    height: 50% !important;
    text-align: center !important;
}

.map-room > p {
    width: min-content;
    height: max-content;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    cursor: default;
}

.doorway {
    background-color: black;
    position: absolute;
    height: 30px;
    width: 21px;
    z-index: inherit + 1;
}

.doorway-ew {
    background-color: black;
    position: absolute;
    height: 21px;
    width: 21px;
    z-index: inherit + 1;
}

.door-locked {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    display: block;
}

.door-unlocked {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    display: none;
}

.map-door-label {
    background-color: black;
    position: relative;
    width: 110px;
    text-align: center;
    margin-top: 7px;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: default;
}

.doorway:hover .map-door-label {
    opacity: 1;
}

/* Physical Map Rooms */

#service-hallway-room {
    top: 200px;
    left: 199px;
    height: 275px;
    width: 75px;
}

#security-room {
    top: 100px;
    left: 190px;
    height: 100px;
    width: 100px;
}

#outside-time-room {
    top: 475px;
    left: 75px;
    height: 100px;
    width: 225px;
}

#admissions-room {
    top: 275px;
    left: 103px;
    height: 75px;
    width: 95px;
}

#game-exit-room {
    top: 275px;
    left: 53px;
    height: 75px;
    width: 50px;
    border: none !important;
}

#exit-text {
    writing-mode: vertical-lr; 
    text-orientation: upright;
    margin: auto;
    height: 100%;
    text-align: center;
}

#utility-closet-room {
    top: 375px;
    left: 138px;
    height: 50px;
    width: 60px;
}

#common-room {
    top: 326px;
    left: 275px;
    height: 125px;
    width: 300px;  
}

#tv-room {
    top: 275px;
    left: 280px;
    height: 50px;
    width: 65px; 
}

#staff-breakroom {
    top: 250px;
    left: 359px; 
    height: 75px;
    width: 75px;
}

#med-station-room {
    top: 275px;
    left: 435px; 
    height: 50px;
    width: 75px;
}

#common-room-bathroom {
    top: 452px;
    left: 325px;
    height: 50px;
    width: 50px;
}

#library-room {
    top: 452px;
    left: 400px;
    height: 75px;
    width: 75px;
}

#ward-stairs-room {
    top: 405px;
    left: 576px;
    height: 100px;
    width: 80px;
}

#blue-hallway-room {
    top: 100px;
    left: 576px;
    height: 300px;
    width: 75px; 
}

#kitchen-room {
    top: 300px;
    left: 652px;
    height: 75px;
    width: 75px;
}

#sensory-room {
    top: 215px;
    left: 652px;
    height: 75px;
    width: 75px;  
}

#linen-closet-room {
    top: 150px;
    left: 652px;
    height: 50px;
    width: 50px; 
}


#red-hallway-room {
    top: 100px;
    left: 291px;
    height: 75px;
    width: 284px;
}

#patient-bathroom {
    top: 176px;
    left: 475px;  
    height: 50px;
    width: 50px;
}

#patient-room-101 {
    top: 49px;
    left: 420px;
}

#patient-room-103 {
    top: 49px;
    left: 339px;
}

#patient-room-102 {
    top: 176px;
    left: 380px
}

#patient-room-104 {
    top: 176px;
    left: 300px
}

/* Physical Map Locks */
#security-south {
    top: 185px;
    left: 227px
}

#security-east {
    top: 128px;
    left: 280px
}

#courtyard-north {
    top: 459px;
    left: 227px
}

#service-cr {
    top: 380px;
    left: 265px;
}

#staff-break-south {
    top: 310px;
    left: 390px;
}

#meds-south {
    top: 310px;
    left: 460px;
}

#admissions-exit {
    top: 295px;
    left: 89px;
}

/* Physical Map Doorways */
#p101-south {
    top: 85px;
    left: 450px
}

#p103-south {
    top: 85px;
    left: 370px
}

#p102-north {
    top: 160px;
    left: 407px
}

#p104-north {
    top: 160px;
    left: 330px
}

#pBR-north {
    top: 160px;
    left: 490px
}

#red-blue-hallway {
    top: 128px;
    left: 565px
}

#linen-west {
    top: 165px;
    left: 638px 
}

#sensory-west {
    top: 245px;
    left: 638px
}

#kitchen-west {
    top: 325px;
    left: 638px
}

#cr-blue-hallway {
    top: 350px;
    left: 565px
}

#tv-south {
    top: 310px;
    left: 303px 
}

#staff-meds {
    top: 290px;
    left: 425px; 
}

#crBR-north {
    top: 435px;
    left: 340px
}

#library-north {
    top: 435px;
    left: 430px 
}

#utility-east {
    width: 10px;
    top: 390px;
    left: 195px
}

#admissions-east {
    width: 10px;
    top: 300px;
    left: 195px
}




/* ####################### */
/* How to Play Page Styles */
/* ####################### */

#how_to_play_header {
    height: 500px;
    width: auto;
}

#how_to_play_img {
    height: 800px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}

.instruction_part {
    background-color: none !important;
    width: 100%;
    height: 500px;
    margin: .5em;
}

.instruction_text_left {
    float: left;
    width: 60%;
    
}

.instruction_text_left > p {
    text-align: left;
    font-size: 1.75em;
    margin-left: 2.5em;
    margin-right: 1em;
}

.instruction_text_right {
    float: right;
    width: 60%;
    
}

.instruction_text_right > p {
    text-align: right;
    font-size: 1.75em;
    margin-left: 1em;
    margin-right: 2.5em;
}

.instruction_image_left {
    float: left;
    width: 40%;
    display: flex;
    
}

.instruction_image_left > img {
    width: auto;
    height: auto;
    justify-content: center;
    border: white solid 1px;
    margin: auto;
}

.instruction_image_right {
    float: right;
    width: 40%;
    display: flex;
    
}

.instruction_image_right > img {
    width: auto;
    height: auto;
    justify-content: center;
    border: white solid 1px;
    margin: auto;
}

.instruction_header_left {
    font-size: 2.5em;
    margin: 1em;
}

.instruction_header_right {
    font-size: 2.5em;
    margin: 1em;
    text-align: right;
}

/* ################### */
/* Credits Page Styles */
/* ################### */

#credits-header {
    font-size: 3em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#left-description {
    float: left;
    width: 50%;
    height: auto;

}

#left-description p {
    text-align: right;
    margin-right: 2em;
    font-size: 1.5em;
}


#right-name {
    float: right;
    width: 50%;
    height: auto;
}

#right-name p {
    text-align: left;
    margin-left: 2em;
    font-size: 1.5em;

}