
/* 
.x is for class="x"
#x is for id="x"

1em = 16px

white = #FFFFFF 
black = #000000
third color = #696969
*/

/* The Whole Page */
html {
    background-color: black
}

/* All Elements */
* {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.page_header {
    height: auto;
    background-color: black;
    color: white;
}

#header_welcome {
    padding: 1em 0 0 0;
    font-size: 2.5em;
    text-align: center;
}

#header_game_title {
    font-size: 5em;
    text-align: center;
}

.menu_buttons {
    background-color: blue;
    position: relative;
    top: 50%;
}

.large_bordered_button {
    background-color: black; 
    border: 2px solid white;
    color: white;
    padding: 22px 42px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    margin: 15px auto;
}

.large_bordered_button:hover {
    color: #696969;
    border: 2px solid #696969;
}

.regular_bordered_button {
    background-color: black; 
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    margin: 10px auto;
}

.regular_bordered_button:hover {
    color: #696969;
    border: 2px solid #696969;
}

