<!-- comments like this -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='site.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <title>Text Adventure</title>
</head>
<body>
    <div class="page_header">
        <h1 id="header_game_title">
            The No-Shoelace Place
        </h1>
    </div>
    <div id="game_gui">
        <div id="text_and_entry_widgets">
            <div id="game_text_display">
                <!-- The game text paragraphs will be placed here -->
                
            </div>
            <div id="entry_widgets">
                <div id="text_entry_div">
                    <form id="command_input_form" autocomplete="off">
                        <label id="command_label" for="command_input"> <strong> > </strong> </label>

                        <input id="command_input" 
                            type="text" 
                            name="command_input"
                            placeholder="What should I do?"
                            value="{{ request.form['command_input'] }}">
                        </input>
            
                        <button class="game_inline_bordered_buttons" onclick=""> Enter </button>
                    </form>
                </div>

                <div id="button_entry_div">
                    <!-- Button entry elements will be placed here -->
            
                </div>
            </div>
        </div>
        <div id="right_panel">
            <div id="top_panel" class="panel_rows">
                <div id="player_stats" class="panel_divs">
                    <p class="panel_titles"> Player Stats</p>
                    <div id="ps_left">
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">XP:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Day:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Turns:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Room:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Health:</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">Status:</p>
                        </div>
                    </div>
                    <div id="ps_right">
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="xp_value">350</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="day_value">1</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="turns_value">15</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="room_value">Starting</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="health_value">65</p>
                            <p class="right_panel_text">/100</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="ps_values" id="status_value">Unknown</p>
                        </div>
                    </div>
                </div>
                <div id="inventory" class="panel_divs">
                    <p class="panel_titles"> Inventory</p>
                    <div id="inv_left">
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">1.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">2.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">3.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">4.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">5.</p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="right_panel_text">6.</p>
                        </div>
                    </div>
                    <div id="inv_right">
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_ablty_strings" id="inv_slot_1"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_ablty_strings" id="inv_slot_2"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_ablty_strings" id="inv_slot_3"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_ablty_strings" id="inv_slot_4"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_ablty_strings" id="inv_slot_5"></p>
                        </div>
                        <div class="ps_inv_elem_spacing">
                            <p class="inv_ablty_strings" id="inv_slot_6"></p>
                        </div>
                    </div>
                </div>
            </div>  

            <div id="bottom_panel" class="panel_rows">
                <div id="abilities" class="panel_divs">
                    <p class="panel_titles"> Abilities</p>
                    <div id="ability_left">
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="meditation_string">Meditation</p>
                        </div>
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="assertiveness_string">Assertiveness</p>
                        </div>
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="pos_attitude_string">Positive Attitude</p>
                        </div>
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="opp_action_string">Opposite Action</p>
                        </div>
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="meditation_string">Catharsis</p>
                        </div>
                    </div>
                    <div id="ability_right">
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="meditation_lvl">0</p>
                        </div>
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="assertiveness_lvl">0</p>
                        </div>
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="pos_attitude_lvl">0</p>
                        </div>
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="opp_action_lvl">0</p>
                        </div>
                        <div class="ability_btns_div">
                            <p class="inv_ablty_strings" id="meditation_lvl">0</p>
                        </div>
                    </div>
                </div>
                <div id="game_buttons" class="panel_divs">
                    <p class="panel_titles"></p> <!-- no title for this section -->
                    <div id="bottom_right">
                        <button class="game_menu_buttons">Game Help</button>
                        <button class="game_menu_buttons">Save Game</button>
                        <button class="game_menu_buttons">Go to Menu</button>
                    </div> 
                </div>
            </div>  
        </div>

    </div>
    <script>
        
        /* Start Game Function */
        ajax_accept_input(null, '/tnslp/start-game')
        
        /*
        window.onbeforeunload = function() {
            return "The current game session will end if you leave this page. \n Are you sure you want to leave?";
        };
        */
        
        const form = document.getElementById('command_input_form');
        const game_display_div = document.getElementById("game_text_display");

        const text_entry_div = document.getElementById("text_entry_div")
        const text_entry = document.getElementById('command_input')
        const button_entry_div = document.getElementById("button_entry_div")

        form.addEventListener('submit', accept_entry_input);
        text_entry.focus();


    </script>
</body>
</html>
