

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <title>404 Page not Found</title>
</head>
<body>
    <div id="center_welcome">
        <img src="{{ url_for('static', filename='img/error_404.png')}}" alt="404 Page not Found" id="welcome_logo">
        <div id="welcome_buttons">
            <button class="large_bordered_button" 
                type="button" 
                onclick="location.href='/welcome'">
                Home
            </button>
        </div>
    </div>

    
    
</body>
</html>